{% extends "imageais/layout.html" %}
{% load static %}

{% block body %}
{% if not user.is_authenticated %}
<div class="alert alert-info" role="alert">
    Create an account or login in order to save your analysis. 
</div>
{% endif %}
<div class="container-fluid" align="center">
    <img src="{% static 'imageais/Image_AI_Search_Logo.png' %}">
    <br>
    <h3 style="text-align:center">Perform a quick analysis!</h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_image_upload.file }}
        <br>
        <br>
        <p><i>This will be a quick person detector image analysis. Register to perform more advanced analysis!</i></p>
        <button type="submit" class="btn btn-primary btn-lg"> Upload </button>
    </form>
    <br>
    <i>Disclaimer: There are known bias in image classification software. <a href="https://nvlpubs.nist.gov/nistpubs/ir/2019/NIST.IR.8280.pdf"> NIST Face Regonition Vendor Test (PDF)</a></i>
</div>
{% endblock %}
