{% extends "imageais/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid" align="center">
    <img src="{% static 'imageais/Image_AI_Search_Logo.png' %}">
    <br>
    <h3 style="text-align:center">Upload your image below!</h3>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_image_upload.as_p }}
        <button type="submit" class="btn btn-primary"> Upload </button>
    </form>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'index.js' %}"></script>
{% endblock %}